#robogerReturn {
  display: none;
  text-align: center;
  width: 50%;
  padding: 20px;
  padding-right: 70px;
  border: solid rgb(0, 255, 187);
  border-width: 8px;
  border-style: groove;
  background-color: rgb(247, 247, 206);
  
}
body {
  background-image: url(../img/robot.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#float {
  float: left;
}